:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #3d3d3d;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #cfcfcf;
  --dark-green: #00ff29;
  --acid-green: #79ff39;
  --light-grey: #eaeaea;
  --orange-red: #ff550e;
  --khaki: #a09529;
  --lilac: #8e8cef;
  --light-green: #8CB854
}
